.git
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
npm-debug.log
yarn-error.log
.phpunit.result.cache
.idea
.vscode
